.image_container {
  // display: inline-block;

  &__img-box {
    height: 1000px;
    // height: 100vh;

    position: absolute;
    z-index: 2;
  }
  // This is really cool, haven't seen this pattern before
  &__interactive {
    height: 1000px;
    width: 772px;
    position: absolute;
    z-index: 3;
    background-color: lightblue;
    opacity: 0.3;
  }
}

.header {
  &__upload-button {
    border-radius: 3px;
    padding: 5px;
    background-color: lightblue;
    margin: 5px;
  }
}

.upload_box {
  display: inline-block;
}

.interactiveInputBox {
  // display: inline;
  width: 140px;
  padding: 5px;
  background-color: rgb(165, 62, 165);

  &__save-btn {
    border-radius: 3px;
    padding: 2px;
    background-color: rgb(186, 86, 86);
    font-weight: bolder;
    border: solid 2px black;
  }

  &__id-box {
    width: 65px;
  }
}

.saved_input_box {
  height: 15px;
  width: 150px;
  background-color: rgb(0, 0, 208);
  position: absolute;
  z-index: 10;
}
